<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BTTZ{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div id="cursor-trail"></div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    <script src="{% static 'js/cursor.js' %}"></script>
</body>
</html>